*.fasta
*.gfa
*.bam
*.sam
*.bai
*.fai
*.faa
*.fna
*pileup.txt
*pileup.tar.gz
*.json
*.zip
edges/
output/
prodigal/
prokka/
checkm/
__pycache__/
minimap2-bug-replication/
partiallymappedreadstesting-pysam.py
read-mutcts-in-gene.txt
.ipynb_checkpoints/*
__pycache__/*
