main-workflow/output/
__pycache__/
.ipynb_checkpoints/
# these are too large now to store on github
notebooks/pospair2groupcts/
notebooks/misc-output/p2called_mutations.txt
notebooks/phasing-data/
notebooks/graphs/*.gv
notebooks/graphs/*.png
sf-analyses/sheep/output/
# i considered keeping the log files, but when using --verbose these get pretty
# massive (e.g. 41 MB for the 1-call log, albeit including two different runs
# of call).
sf-analyses/sheep/logs/
