main-workflow/output/
__pycache__/
.ipynb_checkpoints/
# these are too large now to store on github
notebooks/pospair2groupcts/
notebooks/misc-output/p2called_mutations.txt
notebooks/phasing-data/
notebooks/graphs/*.gv
notebooks/graphs/*.png
